<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- XDSoft DateTimePicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>


</head>
<body>
    <h2> 1주치 검색만 가능합니다. </h2>
    <form action="{% url 'form_func' %}" method="POST">
        {% csrf_token %}
        {% for i in form %}
            <ul>
                {% if i.name ==  'date' %}
                    {{ i.name }} :
                    {{ i }}
                    <script>
                      $(function () {
                        $("#id_date").datetimepicker({
                          format: 'd/m/Y H:i',
                        });
                      });
                    </script>
                {% else %}
                    {{ i.name }} :
                    {{ i }}
                {% endif %}
                <br>
            </ul>
        {% endfor %}
        <ul>
            <input type="submit" value="검색" name="submit">
        </ul>
    </form>

</body>
</html>

